.footer {
  color: white;
  max-width: 1184px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  padding: 0 48px 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .footer{
    padding: 0 48px;
    max-width: 1024px;
  }

}

@media screen and (max-width: 768px) {
  .footer{
    padding: 0 24px;
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .footer{
    flex-direction: column;
  }
}
